<div class="body-wrapper">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let project of projects">
            <div class="card" (click)="viewProject(project.id)">
                <img [src]="project.picture" class="card-img-top image" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{project.name}}</h5>
                  <p class="card-text">{{project.description}}</p>
                </div>
                <div class="card-footer">
                    <span>{{getCategory(project.category)}}</span>
                    <span class="status in-progress-project" [ngClass]="{'finished-project': project.status == 'Finished'}">{{project.status}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
