<div class="content-container">
    <span class="image-container">
        <img class="image" src="../../../../assets/AboutMePicture.jpeg" alt="Picture of me">
    </span>
    <span class="text-container">
        <h1 class="cw large-text title">ABOUT ME</h1>
        <p class="cw text">
            Hi! I'm Stefan, a 22 year old Student from Romania. Among my many passions, I count <span class="colored">Web Development</span>,
            <span class="colored">3D Art</span> and <span class="colored">Creative Writing</span>.
            Therefore, I made this website in order to properly display my past projects. For any inquiries or collaborations, please feel
            free to contact me!
        </p>
        <p class="cw quote"><q class="quote-text">I faced it all and I stood tall.<br><span class="quote2"> And did it my way.</span></q></p>
    </span>
</div>
<div class="footer-container">
    <footer></footer>
</div>