<div class="content-container">
    <div class="image-container">
        <img class="image" src="../../../../assets/AboutMePicture.jpeg" alt="Picture of me">
    </div>
    <div class="text-container">
        <h1 class="cw large-text title">ABOUT ME</h1>
        <p class="cw text">
            Hi! I'm Stefan, a 22 year old Computer Science Enthusiast from Romania. Four years ago, I moved to the USA, accepting a
            job offer as <span class="colored">Harvard's youngest Professor</span> ever employed.
            Since then, I have taught many different subjects, such as <span class="colored">Pshychology</span>, <span class="colored">Alchemy</span>, 
            <span class="colored">Quantum Mechanics</span>, and currently for the 2022-2023 schoolyear, <span class="colored">Web Development</span>. 
            For any inquiries or collaborations, please feel free to contact me!
        </p>
        <p class="cw quote"><q class="quote-text">I faced it all and I stood tall.<br><span class="quote2"> And did it my way.</span></q></p>
    </div>
</div>
<div class="footer-container">
    <footer></footer>
</div>