<form action="https://formsubmit.co/e185ebe8428c7f2a18806e07064c65c7" method="POST" class="row g-3 form">
    <div class="col-md-6 form-group">
        <input maxlength="10" required name="firstName" type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col-md-6">
        <input required name="lastName" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
    <div class="col-12">
        <input required name="email"  type="email" class="form-control" placeholder="Your@email.com" aria-label="Email">
    </div>
    <div class="col-12">
      <input minlength='3' required name="_subject"  type="text" class="form-control" placeholder="Subject" aria-label="Subject">
    </div>
    <div class="col-12">
        <textarea minlength="5" required name="Text"  class="form-control" rows="3" placeholder="Message" aria-label="Message"></textarea>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">SEND ME A MESSAGE</button>
    </div>
    <input type="hidden" name="_next" value="https://stefandobrescu.com">
    <input type="hidden" name="_captcha" value="false">
  </form>
  