<div class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{'active': currentItem == 1}">
            <img class="d-block w-100 carousel-img" [src]="getProjectImage(0)" alt="First slide"  (click)="viewProduct(getProjectId(0))">
            <div class="carousel-caption d-md-block" (click)="viewProduct(getProjectId(0))">
                <p class="card-name">{{getProjectName(0)}}</p>
            </div>
          </div>
          <div class="carousel-item" [ngClass]="{'active': currentItem == 2}">
            <img class="d-block w-100 carousel-img" [src]="getProjectImage(1)" alt="Second slide"  (click)="viewProduct(getProjectId(1))">
            <div class="carousel-caption d-md-block" (click)="viewProduct(getProjectId(1))">
                <p class="card-name">{{getProjectName(1)}}</p>
            </div>
          </div>
          <div class="carousel-item" [ngClass]="{'active': currentItem == 3}">
            <img class="d-block w-100 carousel-img" [src]="getProjectImage(2)" alt="Third slide"  (click)="viewProduct(getProjectId(2))">
            <div class="carousel-caption d-md-block" (click)="viewProduct(getProjectId(2))">
                <p class="card-name">{{getProjectName(2)}}</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" title="previous" (click)="previousItem()">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" title="next" (click)="nextItem()">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    <div class="card-body">
      <p class="card-text"> {{ cardText }} </p>
    </div>
</div>