<div class="footer-wrapper">
    <div>
        <div class="branding">
            <img src="../../../../assets/Logo_White.png" class="navbar-brand logo" alt="logo">
            <p class="name mb-lg-0">STEFAN DOBRESCU</p>
        </div>
        <div class="url-container">
            <a href="https://www.linkedin.com/in/stefan-dobrescu/" target="_blank" class="url">
                <img alt="LinkedIn Profile" class="url-image linkedin-image">
            </a>
            <a href="https://www.instagram.com/shaken_no7_stirred/" target="_blank" class="url">
                <img alt="Instagram Profile" class="url-image instagram-image">
            </a>
            <a href="https://www.youtube.com/channel/UCczme_vqUzKaR-oKNbiTDsA" target="_blank" class="url"> 
                <img alt="Youtube Profile" class="url-image youtube-image">
            </a>
        </div>
    </div>
    <hr>
    <div>
        <p class="version-control">{{latestVersion}} · 
            <a routerLink="/version-control" class="router-control">See Changelog</a> 
        </p>
        <p class="copyright">© 2022 Stefan Dobrescu<span class="arr">. All rights reserved</span></p>
    </div>
</div> 