<div class="home-page">
<div scrollSpy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)" class="scrollspy-example main-content">
    <section id="start-section" class="home-page-section">
        <img src="../../../../assets/Stefan0.png" alt="Picture of me" class="picture">
        <div class="about-me">
            <p class="medium-text">HELLO THERE,</p>
            <p class="hidden-reference">GENERAL KENOBI!</p>
            <p class="large-text">I'M STEFAN</p>
            <div class="wrapper">
                <div class="static-text">I AM A</div>
                <ul class="dynamic-text">
                    <li><span>DEVELOPER</span></li>
                    <li><span>WRITER</span></li>
                    <li><span>3D ARTIST</span></li>
                    <li><span>TEACHER</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="recents-section" class="home-page-section">
        <p style="visibility:hidden;">Recents-section</p>
        <div class="centered-container">
            <div>    
                <recent-card [cardText]="'DEVELOPMENT'"></recent-card>
                <br class="mobile-only-br">
                <recent-card [cardText]="'TEACHING'"></recent-card>
                <br class="mobile-only-br">
                <recent-card [cardText]="'WRITING'"></recent-card>
            </div>
            <p class="large-text m-30 re">CURRENT WORK</p>
            <a routerLink="/portfolio" class="btn btn-secondary btn-lg m-30">VIEW ALL</a>
        </div>
    </section>
    <section id="services-section" class="home-page-section services-section">
        <p style="visibility:hidden;">Services-section</p>
        <div class="centered-container">
            <div class="service-card">
                <div class="service-card-container-top">
                    <i class="fa-solid fa-code fa-2xl"></i>
                    <h1 class="service-card-title">WEBSITE DEVELOPMENT</h1>
                    <hr class="service-card-hr">
                    <p class="service-card-text">Do you need a website built for yourself or your company? You have come to the right place!</p>
                </div>
                <div class="service-card-container">
                    <p class="service-card-tags">Angular · HTML 5 · SCSS</p>
                </div>
            </div>
            <div class="service-card">
                <div class="service-card-container-top">
                    <i class="fa-solid fa-cube fa-2xl"></i>
                    <h1 class="service-card-title">TEACHING</h1>
                    <hr class="service-card-hr">
                    <p class="service-card-text">I am currently teaching 'Web Development' at Harvard. For any inqiries don't hesitate to contact me now.</p>
                </div>
                <div class="service-card-container">
                    <p class="service-card-tags">Web Development</p>
                </div>
            </div>
            <p class="large-text m-30 se">WHAT I DO</p>
            <a routerLink="/contact" class="btn btn-secondary btn-lg m-30 contact-button">CONTACT ME</a>
        </div>
    </section>
    <section>
        <footer></footer>
    </section>
  </div>
  <div>
    <homepage-scrollspy></homepage-scrollspy>
</div>
</div>